.popup__submit_disabled {
  border: 1px solid #000000;
  background-color: transparent;
  color: #000000;
  opacity: 0.2;
  margin: 32px 0 0;
}

.popup__submit_disabled:hover {
  cursor: default;
  opacity: 0.2;
}
