.popup__input-error_active {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 13px;
}

.popup__input-error_active:last-of-type {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-bottom: 0;
}
