.popup__structure-wrapper {
  display: block;
  position: relative;
  color: #000000;
  width: 100%;
  max-width: 430px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  padding: 0;
  margin: 0;
  padding: 34px 36px 37px;
  z-index: 1;
}


@media (max-width: 620px) {
  .popup__structure-wrapper {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px 25px;
  }
}



